# Could just force-add these files and leave this as '*', but this way I have a
# nice explicit list for documentation's sake.

# Ignore everything by default.
*

# Bash stuff (profile just sources bashrc, since it's the only thing sourced
# when a shell is a login shell).
!.bash*
.*.swp
.bash_history
.bash_local
.bash_logout
!.profile

# Zsh
!.zshrc
!.zsh
!.zsh/*
!.zsh/contrib
!.zsh/contrib/*
# Do ignore the data directory (my construct, it's where completion cache,
# history etc live)
.zsh/data
.zsh/data/*
# Do ignore local/sensitive settings
.zsh/*local
# Swapfiles (sigh)
.zsh/*.swp

# Git aliases, identification info
!.gitconfig
# The gitignore of this repository itself (!)
!.gitignore
# My global Git excludes file (acts as a global .gitignore)
!.gitexcludes

!.Xresources
!.xinitrc
!.xprofile
!.xsession
!.xsessionrc

!.dircolors
!.gtkrc-2.0

!.icons/
!.icons/**

# Linux workstation stuff
!.config

!.config/hypr/
!.config/hypr/**

!.config/waybar/
!.config/waybar/**

!.config/fish/
!.config/fish/**

!.config/nwg-launchers/
!.config/nwg-launchers/**

!.config/nwg-drawer/
!.config/nwg-drawer/**

!.config/nwg-look/
!.config/nwg-look/**

!.config/mako/
!.config/mako/**

!.config/pavucontrol.ini

!.config/starship.toml

!.config/swaylock/
!.config/swaylock/**

!.config/ranger/
!.config/ranger/**

!.config/wpaperd/
!.config/wpaperd/**

!.config/wofi/
!.config/wofi/**

!.config/alacritty/
!.config/alacritty/**

!.config/cava/
!.config/cava/**

!.config/foot/
!.config/foot/**

!.config/gtk-2.0/
!.config/gtk-2.0/**

!.config/gtk-3.0/
!.config/gtk-3.0/**

!.config/gtk-4.0/
!.config/gtk-4.0/**

!.config/kvantum/
!.config/kvantum/**

!.config/pacseek/
!.config/pacseek/**

!.config/qt5ct/
!.config/qt5ct/**

!.config/qt6ct/
!.config/qt6ct/**

!.config/swappy/
!.config/swappy/**

!.config/xfce4/
!.config/xfce4/**

!.config/xsettingsd/
!.config/xsettingsd/**

!packages.txt
!packagesaur.txt

!starship.toml

#wallpapers
!Wallpapers/
!Wallpapers/**

